/*------------------------
  IMPORTS
------------------------*/
@import 'modules/reset';
@import 'modules/variables';

/*------------------------
  OVERRIDE BOOTSTRAP
------------------------*/

@media (min-width: 992px) {
  .container {
    max-width: 1460px;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

/*------------------------
  OVERRIDE BOOTSTRAP END
------------------------*/


/*------------------------
  BASIC STYLES
------------------------*/
body {
  font: $baseFontWeight #{$baseFontSize}/#{$baseLineHeight} $baseFontFamily;
  color: $greyFontColor;
  background-color: #f5f5f5;

  &.scroll-block {
    overflow: hidden;
  }
}

a {
  @include transition;
  color: $greyFontColor;

  &:hover {
    @include transition;
    text-decoration: none;
    color: $mainColor;
  }
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 86, 91, 0.05);
  z-index: 1;
}

li,
h1,
h2,
h3 {
  line-height: 1em;
}

.selectric {
  background-color: #54565b;
  border-radius: $radius;
  border: none;
  padding: 14px 30px 14px 15px;
  @include transition;
  .label {
    padding: 0;
    color: $lightFontCol;
    font-weight: 700;
    line-height: initial;
    height: auto;
    margin: 0;
  }

  .button {
    background: none;
    height: 40px;

    &::after {
      border-top: 9px solid transparent;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top-color: $lightFontCol;
      border-bottom: none;
      right: 5px;
    }
  }
}

.selectric-wrapper {
  .selectric-items {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    background: white;
    li.highlighted {
      background: #f5f5f5;
    }
  }
  &.selectric-hover {
    .button::after {
      border-top-color: white;
    }
  }
  &.selectric-open {
    .selectric {
      @include transition;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

/*------------------------
  HEADER
------------------------*/
#header {
  background: white;
  border-bottom: 1px solid $borderCol;
}

.header-wrapper {
  @include defaultFlex;
  justify-content: space-between;
  padding: 15px 0;

  .logo {
    &__small {
      display: none;
    }
  }

  .top-categories-menu-list,
  .minicart-wrapper {
    display: none;
  }

  .page-header-container {
    @include defaultFlex;
    justify-content: flex-start;

    #header-search {
      margin-left: 33px;

      .input-box {
        @include defaultFlex;
        align-items: center;
      }

      input {
        height: 40px;
        border: 1px solid $borderCol;
        padding-left: 14px;
        padding-right: 35px;
        border-radius: $radius;
        min-width: 412px;
      }

      button.search-button {
        border: none;
        background: none;
        padding: 0;
        margin: 4px 0 0 -30px;
      }
    }
  }

  .top-navigation-container {
    @include defaultFlex;

    #header-categories {
      margin-right: 90px;
    }

    .top-categories-menu-label {
      position: relative;
      cursor: pointer;

      &::after {
        content: " ";
        width: 9px;
        height: 6px;
        background-image: url(../images/dropdown_arrow.png);
        background-size: cover;
        position: absolute;
        transform-origin: center ceter;
        top: 35%;
        right: - 20px;
      }

      span {
        font-weight: 700;
      }
    }
  }

  .header-user-info-container {
    @include defaultFlex;
    justify-content: flex-start;
    align-items: center;

    .header-account {
      margin-right: 21px;
    }

    .header-minicart {
      align-self: stretch;
      margin-right: 20px;

      a {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%);
        color: $mainColor;
        line-height: 40px;
        display: block;
        height: 100%;
        border: 1px solid $mainColor;
        border-radius: $radius;
        text-align: center;
        padding: 0 19px;
        @include transition;

        &:hover {
          @include transition;
          background-color: $mainColor;
          color: white;
        }
      }
    }
  }

  .top-locations {
    position: relative;

    &__handler {
      cursor: pointer;
      position: relative;
      z-index: 3;
      width: 40px;
      height: 40px;
      border-radius: $radius;
      border: 1px solid $mainColor;
      @include transition;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 100%);

      &:hover {
        @include transition;
        background-color: $mainColor;

        &::before,
        &::after {
          @include transition;
          filter: brightness(300%);
        }
      }

      &::before,
      &::after {
        @include transition;
        position: absolute;
        content: " ";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
      }

      &::after {
        background-image: url(../images/locations_icon.png);
        opacity: 1;
        width: 16px;
        height: 16px;
      }

      &::before {
        background-image: url(../images/close_icon.png);
        opacity: 0;
        width: 12px;
        height: 12px;
      }

      &.locations-popup-opened {
        &::after {
          opacity: 0;
          @include transition;
        }

        &::before {
          @include transition;
          opacity: 1;
        }
      }
    }

    &__popup {
      position: absolute;
      top: calc(100% + 27px);
      right: 0;
      border: 1px solid #eaeaea;
      border-radius: $radius;
      background-color: white;
      -webkit-box-shadow: 0px 0px 1px 0px rgba(234, 234, 234, 1);
      -moz-box-shadow: 0px 0px 1px 0px rgba(234, 234, 234, 1);
      box-shadow: 0px 0px 1px 0px rgba(234, 234, 234, 1);
      @include defaultFlex;
      align-items: flex-start;
      z-index: 2;

      &::after,
      &::before {
        bottom: 100%;
        right: 13px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

      }

      &::after {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: rgba(234, 234, 234, 1);
        border-width: 7px;
        right: 12px;
        z-index: 1;
      }

      &::before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: white;
        border-width: 6px;
        z-index: 2;
      }


      #locationsMap {
        min-height: 330px;
        border-top-left-radius: 4px;
      }

      .top-locations-left {
        width: 370px;
        display: inline-block;
      }

      .top-locations-right {
        width: 474px;
        display: inline-block;
        @include defaultFlex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
      }

      .top-locations-map-info,
      .top-locations-current-wrapper,
      .top-locations-list {
        padding: 19px;
      }

      .top-locations-current-wrapper {
        border-bottom: 1px solid $borderCol;
        border-radius: $radius;

        > span {
          display: block;
          margin-top: 5px;
          margin-bottom: 18px;
        }
      }

      .top-locations-info-item {
        padding: 0 20px;
        background-color: #f9f9f9;
        border: 1px solid $borderCol;
        border-radius: $radius;
        margin-bottom: 25px;
        @include defaultFlex;
        justify-content: space-between;

        span {
          line-height: 48px;
        }
      }

      .top-locations-list {
        padding-bottom: 0;
        overflow: hidden;

        ul {
          max-height: 264px;
          overflow: auto;

          .top-locations-info-item {
            margin-bottom: 13px;
            cursor: pointer;
            @include transition;

            &:hover {
              @include transition;
              border-color: $mainColor;
            }
          }
        }
      }

      .top-locations-btn-wrapper {
        min-height: 40px;
      }

      #location-search {
        background-image: url(../images/magnifier_icon.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 13px) 11px;
      }

      .top-locations-map-info {
        padding-top: 23px;
        border-right: 1px solid $borderCol;

        .top-locations-map-address1,
        .top-locations-map-address2 {
          display: block;
          line-height: 1em;
          margin-bottom: 12px;
        }

        .top-locations-map-address2 {
          margin-bottom: 25px;
        }
      }
    }
  }
}

/*------------------------
  FOOTER
------------------------*/

.footer {
  .footer-top {
    background-color: #343434;
    padding: 42px 0 37px;

    .links {
      .block-title {
        span {
          display: block;
          margin-bottom: 15px;
          line-height: 1em;
          font-size: 14px;
        }
      }

      li {
        line-height: 1em;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $lightFontCol;
          font-weight: 700;

          &:hover {
            color: $mainColor;
          }
        }
      }
    }

    .footer-banner-box {
      @include defaultFlex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
      background-color: #3e3e3e;
      border-radius: $radius;

      .footer-banner-box-img-wrapper {
        width: 100px;
        height: 100px;
        border-radius: $radius;
        margin-right: 20px;
        border: 1px solid #fff;
        flex: 0 0 auto;
        cursor: pointer;
        @include transition;

        &:hover {
          @include transition;
          @include scale;
        }
      }

      .footer-banner-box-text-content {
        padding-top: 5px;

        .footer-banner-box-title {
          display: block;
          margin-bottom: 5px;
          font-weight: 700;
        }

        .footer-banner-box-descr {
          font-size: 14px;
          line-height: 24px;

          a {
            color: $lightFontCol;

            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #282828;

    .footer-bottom-inner-wrapper {
      @include defaultFlex;
      justify-content: space-between;
      padding: 15px 0;
      flex-wrap: nowrap;

      .footer-bottom-col {
        width: 30%;
      }

      .footer-socials-menu {
        @include defaultFlex;
        justify-content: center;

        > div {
          padding: 0 13px;

          a {
            position: relative;
            display: block;
            padding-left: 27px;
            font-size: 14px;
            @include transition;
            transform: translatey(0);

            &:hover {
              transform: translatey(-2px);
              @include transition;
              color: inherit;
            }

            &::after {
              content: " ";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translatey(-50%);
              background-size: cover;
            }

            &.fb-item {
              &::after {
                background-image: url(../images/fb_icon.png);
                width: 16px;
                height: 17px;
              }
            }

            &.twitter-item {
              &::after {
                background-image: url(../images/twitter_icon.png);
                width: 19px;
                height: 17px;
              }
            }

            &.instagram-item {
              &::after {
                background-image: url(../images/instagram_icon.png);
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .footer-bottom-menu {
      @include defaultFlex;
      justify-content: flex-end;

      a {
        display: block;
        margin: 0 15px;
        font-size: 14px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .footer-selects {
    @include defaultFlex;

    > div {
      width: 165px;
      border-radius: $radius;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

/*------------------------
  MAIN
------------------------*/

.main-container {
  padding: 30px 0 50px;
}