<div class="footer-selects">
    <select class="country-select">
        <?php for ($x = 0; $x <= 8; $x++) : ?>
        <option value="<?php echo $x; ?>">Country <?php echo $x; ?></option>
        <?php endfor; ?>
    </select>
    <select class="lang-select">
        <?php for ($x = 0; $x <= 5; $x++) : ?>
        <option value="<?php echo $x; ?>">Lang <?php echo $x; ?></option>
        <?php endfor; ?>
    </select>
</div>