<div class="footer-banner-box">
    <div class="footer-banner-box-img-wrapper"></div>
    <div class="footer-banner-box-text-content">
        <span class="footer-banner-box-title light-color">Swyft Pickup</span>
        <span class="footer-banner-box-descr">Grab your goods now from any SwyftStore. Currently shopping at: <a href="/#">Online Store</a></span>
    </div>
</div>