<div class="footer-banner-box">
    <div class="footer-banner-box-img-wrapper"></div>
    <div class="footer-banner-box-text-content">
        <span class="footer-banner-box-title light-color">The Swyft App</span>
        <span class="footer-banner-box-descr">Get products fast, and receive loyalty discounts on the latest gear.</span>
    </div>
</div>