<div class="top-locations">
    <div class="top-locations__handler" id="locations-btn"></div>
    <div class="top-locations__popup" id="locations-main-wrapper" style="display: none;">

        <div class="top-locations-col">
            <div class="top-locations-left" style="display: none;">
                <div class="top-locations-col-inner-wrapper">
                    <div id="locationsMap"></div>
                    <div class="top-locations-map-info">
                        <span class="top-locations-map-address1 pale-color">483 Geary Street,</span>
                        <span class="top-locations-map-address2 pale-color">San Francisco, California</span>
                        <span class="top-locations-map-confirm custom-btn"><?php echo $this->__('Shop at this location') ?></span>
                    </div>

                    <?php $this->getSkinUrl('images/marker_icon.png'); ?>


                    <script>
                        function initMap() {

                            var locations = [
                                ['Bondi Beach', -33.890542, 151.274856, 4],
                                ['Coogee Beach', -33.923036, 151.259052, 5],
                                ['Cronulla Beach', -34.028249, 151.157507, 3],
                                ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
                                ['Maroubra Beach', -33.950198, 151.259302, 1]
                            ];

                            var markerImage = '<?php echo $this->getSkinUrl('images/marker_icon.png'); ?>';


                            var map = new google.maps.Map(document.getElementById('locationsMap'), {
                                zoom: 10,
                                center: new google.maps.LatLng(-33.92, 151.25),
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                disableDefaultUI: true
                            });

                            var infowindow = new google.maps.InfoWindow();

                            var marker, i;

                            for (i = 0; i < locations.length; i++) {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                    map: map,
                                    icon: markerImage
                                });

                                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                    return function () {
                                        infowindow.setContent(locations[i][0]);
                                        infowindow.open(map, marker);
                                    }
                                })(marker, i));
                            }
                        }
                    </script>

                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY7fuZy0JVPBFrtfy3WcL0yW4jR2wNz3g&v=3&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
        <div class="top-locations-col">
            <div class="top-locations-right">

                <div class="top-locations-current-wrapper">
                    <span class="pale-color"><?php echo $this->__('You are currently shopping at:') ?></span>
                    <div class="top-locations__current top-locations-info-item">
                        <span class="top-locations-current-title pale-color">Online store</span>
                        <span class="top-locations-current-info">2-3 Days Delivery</span>
                    </div>
                    <div class="top-locations-btn-wrapper">
                        <span class="top-locations-btn custom-btn">Get it Now - Change Pickup Location</span>
                        <input type="text" id="location-search"
                               placeholder="<?php echo $this->__('Search for Store Locations') ?>"
                               style="display: none;"
                        />
                    </div>
                </div>
                <div class="top-locations-list" style="display: none;">
                    <ul>
                        <?php
                        for ($x = 0; $x <= 8; $x++) : ?>
                            <li class="top-locations-info-item">
                                <span class="top-locations-list-item-title pale-color">Powell Street Bart Station</span>
                                <span class="top-locations-list-item-info">2.4km Away</span>
                            </li>
                        <?php
                        endfor;
                        ?>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


