<div class="top-categories-menu">
    <span class="top-categories-menu-label"><?php echo $this->__('Browse by ') ?><span class="pale-color" id="top-categories-menu-handler"><?php echo $this->__('Category') ?></span></span>
    <ul class="top-categories-menu-list">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
    </ul>
</div>