/* Typography */

$baseFontFamily: 'Varela Round', sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 20px;
$baseFontWeight: 400;

$mainColor: #ff6d10;
$borderCol: #e9e9e9;

$greyFontColor: #898b8e;
$paleGreyFontCol: #54565b;
$lightFontCol: #ffffff;

$radius: 4px;

/* Mixins */

@mixin defaultFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin scale {
  transform: perspective(1px) scale(1.06);
  -webkit-font-smoothing: antialiased;
}

/* Default classes */

.pale-color {
  color: $paleGreyFontCol;
}

.light-color {
  color: $lightFontCol;
}

.custom-btn {
  text-align: center;
  width: 100%;
  display: block;
  line-height: 38px;
  font-weight: 700;
  color: white;
  background-color: $mainColor;
  border: 1px solid $mainColor;
  cursor: pointer;
  border-radius: $radius;
  @include transition;

  &:hover {
    @include transition;
    background-color: white;
    color: $mainColor;
  }
}

input[type='text'] {
  line-height: 38px;
  border: 1px solid $borderCol;
  border-radius: $radius;
  padding: 0 30px 0 13px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $greyFontColor;
  }

  &::-moz-placeholder {
    color: $greyFontColor;
  }

  &:-ms-input-placeholder {
    color: $greyFontColor;
  }

  &:-moz-placeholder {
    color: $greyFontColor;
  }
}